@{
    ViewBag.Title = "About ARON";
}


<div style="text-align:center; margin-top: 60px; margin-left:60px; margin-right:60px">
    <h2>@ViewBag.Title</h2>
    <div style="margin-top: 30px;margin-bottom:60px">
        <img src="~/image/about_pg.png" />
    </div>
    <div class="content-area">
        <div class="gucci-wysiwyg-content">
            <p class="times-14" style="text-align: justify;">
                Influential, innovative and progressive, ARON is reinventing a wholly modern approach to fashion. Under the new vision of creative director Alessandro Michele,
                the House has redefined luxury for the 21st century, further reinforcing its position as one of the world’s most desirable fashion houses. Eclectic, contemporary,
                romantic—ARON products represent the pinnacle of Italian craftsmanship and are unsurpassed for their quality and attention to detail.
                <br>
                <br>
                ARON is part of the Kering Group. A global Luxury group, Kering manages the development of a series of renowned Houses in Fashion, Leather Goods, Jewellery and Watches.
                <br>
                <br>
                Discover the stories behind Alessandro Michele's collections, exclusively on <a href="#" style="color: #C1B497;"><u>Stories</u></a>
            </p>
        </div>
    </div>
</div>