@model IEnumerable<EcommerceWeb.Models.MatHang>

@{
    ViewBag.Title = "Woman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div.gallery img {
        width: 150px;
        height: 150px;
        margin: 30px;
        display: inline-block;
    }

    div.gallery {
        margin: 30px;
        /*border: 2px solid #ccc;*/
        width: auto;
        height: auto;
        display: inline-block;
        background-color: #E7E7E7;
    }
</style>


<div style="text-align:center; margin-top: 60px">
    <div class="row">
        <div class="col-md-9">
            <img src="@Url.Content("~/image/woman-cover.jpg")" style="width: 60%" alt="Woman Cover" />
        </div>
        <div class="col-md-3" style="margin-top: 10%; ">
            <h1>for</h1><br />
            <h1 style="font-weight: bold">WOMAN</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="gallery">
                    <img class="zoomPic" src="@Url.Content(item.HinhAnh)" alt="ảnh lỗi rồi">
                </div>
                <p>@item.TenMH</p>
                <p>$ @item.DonGia</p>
            </div>
        }
    </div>
</div>
