@model EcommerceWeb.Models.Cart
    <head>
        <style>
            .badge {
                background-color: black;
            }
        </style>
    </head>
<span class="badge" style="color: white; text-align: center; font-size:8px; margin-bottom: 15px; margin-left: -2px">@ViewBag.infoCart</span>

