@{
    ViewBag.Title = "Empty Cart";
    Layout = "~/Views/Shared/SearchLayout.cshtml";
}
<head>
    <style>
        #buttonBuyNow {
            color: black;
            border-radius: 0px;
            background: transparent;
            border: solid 2px;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">

            <div class="container">
                <img src="~/image/empty-cart.png" style="margin-left: 368px; width: 30%; margin-top:65px" />
                <h4 style="margin-top: 0px;margin-bottom: 0px; text-align: center; font-weight: bold">
                    Your cart is empty
                </h4>
                <h5 style="text-align: center">
                    Looks like you have not added anything to your cart. Click <a href="/" style="color: black">here</a> for shopping
                </h5>
            </div>
    </div>
</body>


