@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>
        <div style="margin: 12px 20px 0 0">
            <input type="text" name="search" placeholder="Search">
            <a><i class="fa-solid fa-magnifying-glass" style="color: black"></i></a>
        </div>     
    </li>
    <li><a href="@Url.Action("Register","Account")"><i class="fa-solid fa-user-plus" style="color: black"></i></a></li>
    <li><a href="@Url.Action("Login","Account")"><i class="fa-solid fa-arrow-right-to-bracket" style="color: black"></i></a></li>
</ul>
}
